﻿@model YummyProject.Models.Chef
@{
    ViewBag.Title = "AddChef";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h2>Şef Ekleme Sayfası</h2>
<br />

<form method="post" enctype="multipart/form-data" class="form-control">

    <label><strong>Resim Yükleyiniz</strong></label>
    <input type="file" name="ImageFile" class="form-control" />
    <br />
    <label><strong>Ad Soyad</strong></label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label><strong>Ünvan</strong></label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label><strong>Açıklama</strong></label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <div class="text-center">
        <button class="btn btn-warning">Kaydet</button>
    </div>
    <br />

</form>
<br />

