﻿@model YummyProject.Models.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>
    <br />
    <h2>Kategori Ekleme Sayfası</h2>
    <br />

    <form method="post" class="form-control">

        <label><strong>İsim</strong></label>
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        <br />
        <div class="text-center">
            <button class="btn btn-warning">Kaydet</button>
        </div>
        <br />

    </form>
</h2>

