<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="~/Default/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                    Siteye Git
                </a>
                <a class="nav-link" href="~/Dashboard/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-simple"></i></div>
                    İstatistikler
                </a>
                <a class="nav-link" href="~/Admin/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    Profil
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-check"></i></i></div>
                    Düzenleme
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-user"></i></div>
                            Sayfalar
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Product/Index">Ürünler</a>
                                <a class="nav-link" href="~/ProductCategory/Index">Kategoriler</a>
                                <a class="nav-link" href="~/Booking/Index">Rezervasyon</a>
                                <a class="nav-link" href="~/Message/Index">Mesajlar</a>
                                <a class="nav-link" href="~/Chef/Index">Şefler</a>
                                <a class="nav-link" href="~/ChefSocial/Index">Sosyal Medya - Şef</a>
                                <a class="nav-link" href="~/Service/Index">Hizmetler</a>
                                <a class="nav-link" href="~/Event/Index">Etkinlikler</a>
                                <a class="nav-link" href="~/PhotoGallery/Index">Resim Galerisi</a>
                                <a class="nav-link" href="~/ContactInfo/Index">İletişim Bilgileri</a>
                                <a class="nav-link" href="~/RestaurantSocial/Index">Sosyal Medya - Restoran</a>
                                <a class="nav-link" href="~/Testimonial/Index">Referanslar</a>
                                <a class="nav-link" href="~/Feature/Index">Öne Çıkan Alan</a>
                                <a class="nav-link" href="~/About/Index">Hakkımızda</a>
                            </nav>
                        </div>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                        </div>
                    </nav>
                </div>
    </nav>
</div>
