﻿@model YummyProject.Models.Event
@{
    ViewBag.Title = "AddEvent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h2>Etkinlik Ekleme Sayfası</h2>
<br />

<form method="post" enctype="multipart/form-data" class="form-control">

    <label><strong>Resim Seçiniz</strong></label>
    <input type="file" name="ImageFile" class="form-control" />
    <br />
    <label><strong>İsim</strong></label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label><strong>Açıklama</strong></label>
    @Html.TextAreaFor(x => x.Description, 3, 1, new { @class = "form-control" })
    <br />
    <label><strong>Fiyat</strong></label>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />

    <div class="text-center">
        <button class="btn btn-warning">Kaydet</button>
    </div>
    <br />

</form>
